image: Visual Studio 2017
version: '3.0.64.{build}'
configuration: Release
platform: x64
branches:
    only:
        - port64
        - ci

environment:
    matrix:
        - PYTHON: "C:\\Python35-x64"

install:
    - set "PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
    - python --version
    - python3 --version
    - git submodule update --init --recursive

before_build:
    - set "PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
    - tools\\build_boost.bat

build:
    project: JContainers.sln

after_build:
    - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
    - python3 tools\\install.py x64\\Release

artifacts:
    - path: dist\*
