image: Visual Studio 2017
version: '3.0.64.{build}'
configuration: Release
platform: x64
branches:
    only:
        - port64
        - ci

environment:
    PYTHON: "C:\\Python35-x64\\python.exe"

build:
    project: JContainers.sln

after_build:
    - cmd: %PYTHON% tools\install.py x64\Release

artifacts:
    - path: dist\*
